@import "https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Inconsolata:wght@500&display=swap";
@import "./reset.scss";
@import "./variables/global.scss";

.app {
    font: var(--font-l);
    background: var(--bg-color);
    min-height: 100vh;
    width: 100%;
}
