:root {
    --font-family-main: inconsolata, "AR One Sans";
    --font-size-s: 8px;
    --font-line-s: 16px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --bg-color: #e5e5e5;

    // Navbar size
    --navbar-h: 3.5rem;
    --navbar-bg-color: #1e88e5;
    --navbar-color-button: white;

    // Button
    --button-hover-color: #1765ab;
    --button-press-color: #104d82;
}
