.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-h);
    background-color: var(--navbar-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
}

.loginBtn {
    color: var(--navbar-color-button);
    margin: 0 0.125rem;
    padding: 0.125rem 1rem;
    border: 1px solid white;
}
