.FlashCard_container {
    margin: 1rem;
}

.FlashCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 18.75rem;
    height: 9.375rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.FlashCard:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.term {
    display: flex;
    word-wrap: break-word;
}

.definition {
    display: flex;
    color: grey;
}

.closeBtn {
    background-color: white;
    border: 1px solid blue;
}

.closeBtn_container {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
