.cardLayout {
    margin-top: 3rem;
}

.createSetBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSet {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
}

.backBtn {
    margin-left: 3rem;
}

.homeLink {
    text-decoration: none;
    color: black;
}

.cardList {
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
