.cardLayout {
    margin-top: 3rem;
}

.createSetBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSet {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
}

.backBtn {
    margin-left: 3rem;
}
